<div>
  <a href="/admin">进入首页</a>
  <a href="/admin/banner">图片展示</a>
  <a href="/admin/blog">博客管理</a>
  <a href="/admin/contact">联系方式</a>
  <a href="/admin/intro">产品介绍</a>
  <a href="/admin/custom">留言管理</a>
  <a href="/admin/new">新闻资讯</a>
</div>